#main-wrapper{
  background-color: white;
 margin:0 auto;
 width: 70%;
 min-height: 800px;
  @media only screen and (max-width: 992px){
   width: 100%;
 }
 #main{
   padding: 0 10%;
 }

}
body {
   background: linear-gradient(#8B83B6, #D2CEE5);
}
.brand {
  height: 114px;
}
#navigation {
    border-bottom: 2px solid #251B5F;
    margin-top: -20px;
    height:220px;
    background: linear-gradient(#41367A, #6A4E94);
    padding-top: 45px;

    ul{

        text-align: center!important;

     }
    li{
        width: 90px;
        margin-left: 25px;

      }
      a{

        color:white;
        font-weight: bold;
        font-size: 20px;
        &:hover{
          text-decoration: none;
          color:#9088B9;
        }
      }

  .section{
      h2{
        height: 28px;
        visibility: hidden;
      }
  }

}
.footer {

  border-top: 2px solid #251B5F;
  color:white;
  background: linear-gradient(#6A4E94,#41367A);
  height:150px;
  padding-top: 55px;
  .copyright{
    text-align: center;
    margin: auto;
    width:240px;
  }
}
#page-title{
  text-align: center;
}
#first-time{
  display: none;
}
#block-views-produkti-block{
  .block-title{
    display: none;
  }
}
.submitted{
  display: none;
}
#block-basic-cart-shopping-cart{
display: none!important;
}
.basic-cart-cart{
  .form-item{
    .row{
      margin-bottom: 20px;
    }
  }
}
.produkt-default {
  margin-bottom: 20px;
}
.slika{
  margin-top: 20px!important;
}
.body{
  margin-top:20px!important;
  margin-bottom: 70px;
}
.cart{
  a{
    &:hover{
      text-decoration: none;

    }
  }
  .fa-shopping-cart{

    color: #493B7F;

  }
}
#node-2{
  .list-inline{
    .comment_forbidden{
      span {
          display: none!important;
      }
    }
  }
}
.alert-success{
  display: none;
}

.brand {
  display: flex;
  justify-content: center;
}
.maston-text{
  padding-right: 13%;
  img{
    padding-right: 10%;
  }
  @media only screen and (max-width: 1500px){
     display: none;
  }

}

#edit-buttons-checkout{
  background-color: #a7a0c8!important;
}
#content{
  .section{
    #page-title{}
  }
}
.list-inline {
  a:focus{
    text-decoration: none;
  }
}
#page-title{
  color:#302064;
}
.field-type-text-with-summary{
  padding-top: 50px;
}

@media screen and (max-width: 720px) {
  #main-menu {
    li {
      margin-left: 0px;
    }
  }
}

// UI-zelite li da nastavite kupoviu
.ui-dialog {
  background: linear-gradient( #251B5F , #A7A0C8 );
 
 .ui-dialog-titlebar {
   background: none;
   border: none;
   color: white;
 }

 .ui-dialog-content {
  display: flex;
  justify-content: space-evenly;
   a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 50%;
    border: 1px solid #9088B9;
    border-radius: 3px;
    padding: 5px;

     &:hover {
      text-decoration: none;
      background: #A7A0C8;
     }
   }
 }

}