.page-wrapper{
  background-color: white;
  width: 1200px;
  margin:0 auto;
  border:1px solid rebeccapurple;
}
body {
   background: linear-gradient(#8B83B6, #D2CEE5);
}

.navigation {
  margin-top: -20px;
  height:100px;
  background-color: #5544AC;
}
.footer {
  width:100%;
  height: 150px;
  background-color: greenyellow;
}
